.heroContent {
    padding: 1rem;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6B46C1;
}

.verticalLine {
    width: 4px;
    height: 320px;
    background: linear-gradient(180deg, #6B46C1, #FF6B6B);
    margin-top: 10px;
}

.heroHeadText {
    font-size: 2.5rem;
    font-weight: bold;
}

.highlight {
    color: #915eff;
}

.heroSubText {
    font-size: 1.25rem;
}

.cursor {
    display: inline-block;
    margin-left: 3px;
    width: 2px;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@media (max-width: 576px) {
    .verticalLine {
        height: 19rem;
    }
}