.scrollIndicator {
  position: absolute;
  transition: opacity 0.3s ease;
  z-index: 10;
  pointer-events: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 45px; 
}

.scrollIndicator a {
  pointer-events: auto;
}

.scrollDown {
  bottom: 20px; 
}

.scrollUp {
  top: 80px; 
  transform: rotate(180deg);
}

.mouse {
  width: 32px; 
  height: 58px; 
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4); 
}

.customBorder {
  border-color: #2DD4BF !important;
}

.mouseDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6B46C1;
  margin-bottom: 0.25rem;
}

@media (max-width: 576px) {
  .scrollDown {
      bottom: 10px;
  }
  
  .scrollUp {
      top: 70px;
  }
}