$primary-color: #6b46c1;
$secondary-color: #2dd4bf;
$complementary-color: #ff6b6b;
$text-light: #ffffff;

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.complementary-color {
  color: $complementary-color;
}

.formLabel {
  font-size: 1.25rem;
  color: $secondary-color !important;
}

.formContainer {
  padding-top: 0 !important;
  background-color: transparent;
  border-radius: 0.75rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.sectionHeadText {
  margin-bottom: 1rem !important;
  font-size: 2rem;
  font-weight: bold;
  color: $primary-color;
}

.customInput,
.customTextarea {
  background-color: #1d1836 !important;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: background-color 0.2s ease;
  color: white !important;
  border: none !important;

  &::placeholder {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.8) !important;
  }

  &:focus {
    outline: none;
    background-color: darken(#fff, 5%);
  }
}

.customButton {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  border: 2px solid $complementary-color;
  color: $complementary-color !important;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: $complementary-color;
    color: $text-light !important;
    border-color: $complementary-color;
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
  }

  span {
    color: inherit;
  }

  svg {
    color: inherit;
  }
}

.socialIcons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.socialLink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  transition: all 0.3s ease;

  &:hover {
    filter: invert(67%) sepia(85%) saturate(1000%) hue-rotate(330deg)
      brightness(95%) contrast(110%);
    transform: translateY(-5px);
  }
}

.socialTooltip {
  position: absolute;
  bottom: -30px;
  font-size: 0.7rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white !important;
  padding: 2px 8px;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(5px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.contactInfo {
  color: #676767;
  font-size: 0.85rem;
  max-width: 60%;
}

@media (max-width: 768px) {
  .contactInfo {
    display: none;
  }

  .customButton {
    width: 100%;
  }
}
